@{
    ViewBag.Title = "Description";
}
<h2>Palindrome</h2>
<h3>@ViewBag.Message</h3>

<p>
    This application checks if the number entered by the user is Palindrome. In all cases, the application returns a message such as:<br>
    "The number is Palindrome"<br>
    "The number is not Palindrome"<br>
    or in case of an error "An error occurred while processing your request. Please, try again" , notifying the administrator by email.<br><br>
</p>
 <h3> The Palindrome application was built using:</h3> <br>
<p>
    .Net Framework<br>
    ASP MVC<br>
    WEB API<br>
    JavaScript / JQuery <br>
</p>
